In [2]:
import pandas as pd, numpy as np
features = pd.read_csv('out.csv')
features.head(5)

features.describe()

                w           r
count  195.000000  195.000000
mean   100.410256    6.938462
std     41.570626    1.898537
min     30.000000    1.000000
25%     80.000000    6.000000
50%     95.000000    7.000000
75%    130.000000    8.000000
max    220.000000   12.000000

In [5]:
# One hot encoding 
features = pd.get_dummies(features)

In [6]:
# Display the first 5 rows of the last 12 columns
features.iloc[:,5:].head(5)

,n_Bench,n_Bicep curl,n_Bicep hammers,n_Calves,n_DeltFly,n_Forearms,n_LatRaise,n_Otherleg,n_PecFly,n_Pull-up hammer,n_Pull-up palm back,n_Pull-up palm front,n_Row,n_SeatedLegCurl,n_Shoulders,n_Triceps
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0